@charset "utf-8";

@import url("header.css");
@import url("footer.css");

/***************************************************************************
 *
 * COMMON STYLE
 *
 ***************************************************************************/

 .breadcrumb {
    padding: 23px 125px;
    display: flex;
    margin-bottom: 0;
    font-size: 12.26px;
}

.breadcrumb li a {
    color: #757575;
    font-size: 12.26px;
    margin: 10px 10px;
}

ul.breadcrumb span {
    margin: 0 6px;
    color: #000;
}


.content p.contact-image{
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.content p.notice-contact {
    text-align: center;
    font-size: 11px;
    color: red;
}

.content form {
    margin: 30px 515px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

form label {
    font-size: 14px;
    margin-right: 40px;
    width: 150px;
    display: block;
}

form span {
    color: red;
}
.form-row p {
    display: flex;
}
form input {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid  #e38a34;
}

.form-row {
    display: flex; 
    align-items: center; 
    margin-bottom: 35px; 
}

.row-textarea {
    display: flex;
    margin-bottom: 46px;
}

input {
    flex: 1; 
}

form textarea {
    width: 100%;
    height: 303px;
    flex: 1;
    border: 1px solid #e38a34;
    border-radius: 10px;
}

.submit-form {
    width: 100%;
    text-align: center;
}

.submit-form p {
    margin-left: 60px;
}

#submit {
    width: 130px;
    height: 35px;
    background-color: #f89d35;
    color: white;
}

.wpcf7.js {
    margin: 0 auto;
    width: 100%;
}

form input#name,
form input#email {
    min-width: 380px;
}

form textarea {
    min-width: 380px;
}
/* 396,303 */
@media only  screen and (max-width: 1920px) {
    .content form {
        margin: 20px auto 50px auto;
        width: 45%;
    }

}

@media only  screen and (max-width: 1364px) {

    .content form {
        width: 46%;
    }
}


@media only  screen and (max-width: 1279px) {

    .content form {
        width: 56%;
    }
}


@media only  screen and (max-width: 1024px) {

    .content form {
        width: 60%;
    }

    form input#name,
    form input#email {
        min-width: 100%;
    }

    form textarea {
        min-width: 100%;
    }

    
    form label {
        color: #000;
    }
}

@media only  screen and (max-width: 960px) {
    .content form {
        width: 75%;
    }

    
    form label {
        color: #000;
    }
}


@media only  screen and (max-width: 767px) {

    .content form {
        width: 45%;
    }

    .breadcrumb {
        padding: 0;
    }

    form label {
        color: #000;
        margin-bottom: 8px;
        text-align: start;
    }

    .form-row p {
        display: block;
    }

    #submit {
        float: left;
    }

}

@media only  screen and (max-width: 500px) {
    .content form {
        width: 65%;
    }
}


